snippet pv "public void"
public void ${1:method_name}($2) {
	$0
}
endsnippet

snippet pb "public boolean"
public boolean ${1:method_name}($2) {
	$0
}
endsnippet

snippet prs "private string"
private String ${1:method_name}($2) {
	$0
}
endsnippet

snippet pi "public interface"
public interface ${1:interface_name} {
	$0
}
endsnippet
